  <header>
    <div class="top-bar">
      <a href="/home">
        <div class="brand">
          <img src="/images/logo.png" height="200px" alt="logo" />
          <h1>Fit Grocer</h1>
        </div>
      </a>
      <nav class="nav-container">
        <a href="#" class="nav-button"><%= user.name %></a>
        <a href="/cart" class="nav-button cart-button">Cart</a>
        <a href="/contact" class="nav-button contact-button">Contact Us</a>
        <a href="/logout" class="nav-button logout-button">Logout</a>
      </nav>
    </div>
  </header>