<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fit Grocer</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/CSS/home.css" />
</head>

<body>
  <%- include('partials/header', { user: user }) %>

  <section class="hero">
    <div class="hero-overlay"></div>
    <div class="hero-content">
      <h2>Healthy Choices, Delivered Fresh</h2>
      <p>"Eating right today for a healthier tomorrow."</p>
    </div>
  </section>

  <section class="category-list">
    <h2>Shop by Categories</h2>
    <div class="category-container">
      <a href="/product/vegetable" class="category-link">
        <div class="category-card">
          <img src="/images/vegetable.jpg" alt="Vegetables" />
          <p>Vegetables</p>
        </div>
      </a>

      <a href="/product/fruit" class="category-link">
        <div class="category-card">
          <img src="/images/fruit.jpeg" alt="Fruits" />
          <p>Fruits</p>
        </div>
      </a>

      <a href="/product/dairy" class="category-link">
        <div class="category-card">
          <img src="/images/dairy.jpg" alt="Dairy Products" />
          <p>Dairy Products</p>
        </div>
      </a>
    </div>
  </section>

  <%- include('partials/footer') %>
</body>

</html>